
*.o
/Entregable_0/bin
*.depend
*.layout
*.exe
*.qws
*.zip


# Archivos generados por Quartus
*.qmsg
*.cdb
*.hdb
*.logdb
*.rdb
*.kpt
*.smsg
*.hier_info

# Carpeta de base de datos
db/
incremental_db/
output_files/

# Archivos de programación
*.sof
*.pof
*.jic
